<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660823344742-tobo662923p237fias9a0u8aj3v4e9ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660823344742-tobo662923p237fias9a0u8aj3v4e9ke</string>
	<key>API_KEY</key>
	<string>AIzaSyBrwdleiR0JbIMjPW3V-1otXFdxw1cQdwY</string>
	<key>GCM_SENDER_ID</key>
	<string>660823344742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.owaraiapp.rino.yamamoto.owaraimemo</string>
	<key>PROJECT_ID</key>
	<string>owaraiapp-f80fd</string>
	<key>STORAGE_BUCKET</key>
	<string>owaraiapp-f80fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660823344742:ios:c9e703a4c90c111d448fa7</string>
</dict>
</plist>